/* alegreya-regular - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/alegreya/alegreya-v26-latin-regular.woff2') format('woff2'); /* Super Modern Browsers */
}
/* alegreya-500 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/alegreya/alegreya-v26-latin-500.woff2') format('woff2'); /* Super Modern Browsers */
}
/* alegreya-600 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/alegreya/alegreya-v26-latin-600.woff2') format('woff2'); /* Super Modern Browsers */
}
/* alegreya-700 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/alegreya/alegreya-v26-latin-700.woff2') format('woff2'); /* Super Modern Browsers */
}
/* alegreya-800 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/alegreya/alegreya-v26-latin-800.woff2') format('woff2'); /* Super Modern Browsers */
}
/* alegreya-900 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/alegreya/alegreya-v26-latin-900.woff2') format('woff2'); /* Super Modern Browsers */
}

/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-Hairline.woff2') format('woff2');
}
/* lato-100 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-HairlineItalic.woff2') format('woff2');
}
/* lato-200 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-Thin.woff2') format('woff2');
}
/* lato-200 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-ThinItalic.woff2') format('woff2');
}
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-Light.woff2') format('woff2');
}
/* lato-300 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-LightItalic.woff2') format('woff2');
}
/* lato-400 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-Regular.woff2') format('woff2'); /* Super Modern Browsers */
}
/* lato-400 - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-Italic.woff2') format('woff2'); /* Super Modern Browsers */
}
/* lato-500 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-Medium.woff2') format('woff2');
}
/* lato-500 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-MediumItalic.woff2') format('woff2');
}
/* lato-600 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-Semibold.woff2') format('woff2');
}
/* lato-600 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-SemiboldItalic.woff2') format('woff2');
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-Bold.woff2') format('woff2');
}
/* lato-700 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-BoldItalic.woff2') format('woff2');
}
/* lato-800 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-Black.woff2') format('woff2');
}
/* lato-800 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-BlackItalic.woff2') format('woff2');
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-Heavy.woff2') format('woff2');
}
/* lato-900 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/lato/LatoLatin-HeavyItalic.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;